
.eclipse{
    background-color: #649549;

}
li{
    display: inline-table;
    padding: 15px;
    color: black;
    box-sizing: border-box;
  
}
.button{
    background-color: #649549;
    
}
.img{
    margin-right: -200;

}
.bar a{
    color: black;
    font-size: ;
    text-decoration: none;
    padding: 20px;
}
.eating{
    float: left;
    margin-left: -150px;
}

