
#circle{
    position: absolute;
    overflow: scroll;
    background-color: #649549;
    transform: translate(0%, -50%, -50%, 0%);
    width: 900px;
    height: 800px;
    border-radius: 50%;
    opacity: 0.4;
    bottom: 30%;
    left: 33%;
    z-index: 2;
    margin: -15px -15px;
    shape-outside: ellipse(300px, 500px at 100% 50%);

}

.eclipse{
    background-color: silver;
    position: relative;
    font-size: 26px;
    margin-left: 10px;
    overflow: auto;
}
#street{
    color: #649549, #EAAB1B;
}

li{
    display: inline-table;
    padding: 15px;
    color: black;
    box-sizing: border-box;
  
}
.logo{
    text-align: center;
    
}
.button{
    display: inline-block;
    font-size: 14px;
    background: linear-gradient( #6CB840);
    border-radius: 20px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    background-color: #6cb840;
   

}
.img{ 
   
    object-fit: cover;
    position: absolute;
    bottom: 0;
    right: 280px;
    
}

.bar a{
    color: black;
    text-decoration: none;
    padding: 20px;
}
.modify{
    float: center;
    font-size: 20px;
    margin-top: 60px;
    margin-bottom: 400px;
    margin-right: 20px;
}

.eating{
    object-fit: contain;
   margin-left: -100px;
  
    float: left;
  
}
span{
    display: inline-block;
}
#eat{
    color: #EAAB1B;
    font-size: 25px;
}
.explore{
    background-color: #C9ECB5;
    text-align: center;
    
    }
.explore >h2{
    text-align: center;
}
.column{
    text-align: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 80px;
    padding-top: 10px;
    
}

.image{
    height: 120px;
    float: left; 
    margin-top: 100px;
}
.column .first, .second, .third{
    height: 128px;
    width: 215px;
    margin:  40px;
    border-bottom-right-radius: 50px;
    background-color: white;
    padding: 15px;
    margin-bottom: -100px;
    margin-right: -8px;
    
}
.column .forth, .fifth, .sixth{
    height: 128px;
    width: 215px;
    margin:  40px;
    border-bottom-right-radius: 50px;
    background-color: white;
    padding: 15px;
    margin-bottom: -100px;
    margin-right: -8px;
    
}
.first >p, .second >p, .third >p, .fifth >p, .sixth >p{
    margin-left: 80px;
    text-align: center;
}
.juice{
    float: left; 
    margin-left: -20px;
    position: relative;
    margin-top: -90px;
    margin-bottom: -100px;
    object-fit: contain; 
}
.Burger{
    position:relative;
    margin-left: -350px;
    margin-bottom: -88px;
}
.hots{
    font-size: 38px;
    margin-bottom: 20px;
    background-color: #C9ECB5;
}
.center{
 margin-left: -200px;
 ;
 font-size: 50px;
 
}
.special{
 margin-left: 600px;
}

#contact{
    background-color: #FFD77C;
  text-align: center;
  font-size: 40px;
}
#contact h3{
    color:black green;
}
.email{
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 16%;
    border: 1px solid;
    outline: none;
}

footer {
    margin: 40px;
    background-color: #C9ECB5;
    
}
    
    
.footer{
    display: flex;
    justify-content: space-between;
}
.line{ 
    width: 200px;
  
    border-style:none dashed none none;
}
.h6{
    font-size: 25px;
}
.p{
    font-size: 14px;
}
.ig{
    width: 60px;
    border-radius: 60px;
    float: right;
    background-color: #C9ECB5;
}
.buttonb{
    float: right;
  
  
    
}